@media (max-width: 500px){
    .signing-in .email input{
        width: 90vw;
    }

    .signing-in .password input{
        width: 90vw;
    }

    .signing-in .sign-in-button button{
        width: 90vw;
    }

    .retrieval{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
}

@media (orientation: landscape){
    .main-cover{
        background-image: url(./assets/bg-image.jpg);
        background-size: cover;
        height: 250vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
    }

    .overlay{
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        opacity: 50%;
    }
}