@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.main-cover{
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.content{
    margin-top: 5px;
}

.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 50%;
}

.signing-in .email input{
    height: 50px;
    width: 40vw;
    border: none;
    opacity: 60%;
    background-color: black;
    color: white;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    padding-left: 3%;
}

    


.signing-in .password input{
    height: 50px;
    width: 40vw;
    border: none;
    background-color: black;
    color: white;
    opacity: 60%;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    padding-left: 3%;
}

.signing-in .sign-in-button button{
    height: 50px;
    width: 40vw;
    border: none;
    color: black;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    background-color: #cccc;
    opacity: 80%;
}

.retrieval{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}


.retrieval a{
    text-decoration: none;
    color: skyblue;
}

.retrieval a:hover{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}

.registration a{
    text-decoration: none;
    color: skyblue;
}

.registration a:hover{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}

.signing-in input:hover{
    cursor: pointer;
    background-color: black;
}

.signing-in button:hover{
    cursor: pointer;
    background-color: black;
    opacity: 50%;
    color: white;
}


.alternative > p{
    background-color: black;
    opacity: 70%;
}


/* The landing page styles */
.container{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container .container-content{
    height: 50%;
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.container-content h1{
    color: white;
    text-align: center;
    margin-top: 10px;
}


/* First Blocks */
.blocks .first-blocks{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 15px;
}
.blocks .first-blocks .about-us{
    height: 100px;
    width: 150px;
    background-color: purple;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.first-blocks .about-us h3{
    padding-top: 10px;
}

.first-blocks .about-us i{
    font-size: 3rem;
}

.blocks .first-blocks .our-work{
    height: 100px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.blocks .first-blocks .our-work{
    background-color: orange;
    color: white;
    text-align: center;
}

.first-blocks .our-work h3{
    padding-top: 10px;
}

.first-blocks .our-work i{
    font-size: 3rem;
}



/* Second Blocks */
.blocks .second-blocks{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
}

.blocks .second-blocks .get-quote{
    height: 100px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.blocks .second-blocks .get-quote{
    background-color: green;
    color: white;
    text-align: center;
}

.second-blocks .get-quote h3{
    padding-top: 10px;
}

.second-blocks .get-quote i{
    font-size: 3rem;
}


.second-blocks a{
    text-decoration: none;
    color: white;
}

.blocks .second-blocks .planning{
    height: 100px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}


.blocks .second-blocks .planning{
    background-color: aqua;
    color: white;
    text-align: center;
}

.blocks .second-blocks .planning h3{
    padding-top: 5px;
}

.blocks .second-blocks .planning i{
    font-size: 3rem;
    border: 2.5px solid white;
    padding: 5px;
}


/* The navigation bar */

.nav-bar{
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
}

.nav-bar .icon{
    padding: 10px 10px;
}
.nav-bar i{
    font-size: 3rem;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}



/* The Styles for the customize page */

.customize-container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
}

.customize-container header{
    height: 10%;
    width: 100%;
    background-color: black;
}

.customize-container header nav h1{
    color: white;
    padding: 15px;
}

.customize-container span h1{
    text-align: center;
    margin-top: 1.5em;
}

.customize-container .first-selection form{
    margin-top: 2em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    border-bottom: .2em solid black;
}  



.first-selection form .prize{
    margin: 20px 0px;
}

.first-selection form .customize{
    margin-bottom: 1em;
}


.customize-container .second-selection form{
    margin-top: 2em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    border-bottom: .2em solid black;
}

.second-selection form div{
    padding: .5em 0px;
}


.my-footer footer{
    display: flex;
    justify-content: center;
}

.my-footer footer button{
    width: 35%;
    height: 3em;
    margin-top: 2em;
    background-color: black;
    color: white;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border: none;
}

.my-footer footer .first-button{
    margin-right: 1em;
}

.my-footer footer .done{
    background-color: green;
}

/* Styles for the Services Page */

.services-container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.services-container header{
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
}

.services-container nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.services-container nav .profile i{
    font-size: 2.7rem;
}


.services-container span h1{
    text-align: center;
    margin-top: 1.5rem;
}

.services-container .content{
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container .content .first-content{
    background-image: url(./assets/full-repair.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    width: 100%;
    margin-top: .5rem;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.services-container .first-content .overlay{
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        opacity: 60%;
}

.services-container .first-content p{
    margin-top: 1em;
    opacity: 70%;
}

.services-container .content .second-content{
    background-image: url(./assets/pothole-repair.jpg);
    height: 40%;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}


.services-container .second-content .overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 30%;
}

.services-container .content #p-repair{
    margin-top: 1rem;
}


.services-container .second-content p{
    text-align: center;
    color: white;
    margin-top: 1em;
    opacity: 65%;
}


/* The About-us Page Styles */
.about-container{
    height: 100vh;
    width: 100%;
    background-color: white;
}

.about-container header{
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
}

.about-container header nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.about-container nav .profile i{
    font-size: 2.7rem;
}

.about-container span h1{
    text-align: center;
    margin-top: 1.5rem;
    height: 10%;

}

.about-container .about-us-content{
    height: calc(100vh - 23.5%);
    width: 100%;
}

.about-container .about-us-content .info-image{
    height: calc(100% / 2);
    width: 100%;
    background-color: #d0d0d0;
    display: flex;
}

.about-container .info-image .information{
    height: 100%;
    width: 100%;
    
}

.info-image .information p{
    color: black;
    font-size: small;
    text-align: center;
    margin-top: 2em;
}

.about-container .info-image .about-image{
    height: 100%;
    width: 100%;
}

.info-image .about-image img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-container .about-us-content .last-information{
    height: calc(100% / 2);
    width: 100%;
    background-color: white;
}

.last-information p{
    font-size: small;
    text-align: center;
    padding-top: 3em;
}

/* .about-container .about-us-content .info-image .information {
    height: calc(100% / 3);
    width: 100%;
    background-color: white;
}
.about-container .about-us-content .about-image{
    height: calc(100% / 3);
    width: 100%;
    background-color: green;
}
.about-container .about-us-content .last-information{
    height: calc(100% / 3);
    width: 100%;
} */