@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content{
    margin-top: 7%;
}

.main-cover{
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 50%;
}

.signing-in .email input{
    height: 50px;
    width: 40vw;
    border: none;
    opacity: 60%;
    background-color: black;
    color: white;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    padding-left: 3%;
}

    


.signing-in .password input{
    height: 50px;
    width: 40vw;
    border: none;
    background-color: black;
    color: white;
    opacity: 60%;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    padding-left: 3%;
}

.signing-in .sign-in-button button{
    height: 50px;
    width: 40vw;
    border: none;
    color: black;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    background-color: #cccc;
    opacity: 80%;
}

.retrieval{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}


.retrieval a{
    text-decoration: none;
    color: skyblue;
}

.retrieval a:hover{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}

.registration a{
    text-decoration: none;
    color: skyblue;
}

.registration a:hover{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}

.signing-in input:hover{
    cursor: pointer;
    background-color: black;
}

.signing-in button:hover{
    cursor: pointer;
    background-color: black;
    opacity: 50%;
    color: white;
}


.alternative > p{
    background-color: black;
    opacity: 70%;
}



